NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=3307
DB_USERNAME= root
DB_PASSWORD= 
DB_DATABASE=inventory_management
DB_SYNCHRONIZE=false
DB_LOGGING=false

JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_gmail_address@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_FROM="Inventory Management <your_gmail_address@gmail.com>"

BAKONG_API_BASE_URL=https://api-bakong.nbc.gov.kh
BAKONG_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImlkIjoiNTcwMTZkYzkwNWUzNDFjZiJ9LCJpYXQiOjE3NzQ4NTQ2MzIsImV4cCI6MTc4MjYzMDYzMn0.5VCN23i9nSI04v-NDkwIGFPMMfknupAtQGLXcWLOy8o
BAKONG_MERCHANT_ID=ly_sarl@bkrt
BAKONG_MERCHANT_NAME=Ly Sarl
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_CURRENCY=KHR
BAKONG_EXPIRATION_SECONDS=3600
