NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=3308
DB_USERNAME= root
DB_PASSWORD= 123
DB_DATABASE=inventory_management
DB_SYNCHRONIZE=false
DB_LOGGING=false

JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_gmail_address@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_FROM="Inventory Management <your_gmail_address@gmail.com>"
